[submodule "src/app/v02/vendor/shack"]
	path = src/app/v02/vendor/shack
	url = https://github.com/Ulydev/shack.git
[submodule "src/app/v02/vendor/hump"]
	path = src/app/v02/vendor/hump
	url = https://github.com/vrld/hump.git
[submodule "src/app/v02/vendor/suit"]
	path = src/app/v02/vendor/suit
	url = https://github.com/vrld/suit.git
[submodule "src/app/v02/vendor/moonshine"]
	path = src/app/v02/vendor/moonshine
	url = https://github.com/vrld/moonshine.git
